*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

body {
  overflow-x: hidden;

}

a {
  text-decoration: none;
}


section {
  position: relative;
  height: calc(100vh - 3rem);
  width: 100%;
  background: url('bg.jpg') no-repeat top center / cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

/* navbar */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: "Montserrat";
}

nav {
height: 10vh;
background: white;
}
.finx-logo{
height:10vh;
}
.finx-logo img{
height:10vh;
}
.nav-links {
display: flex;
list-style: none;
width: 100%;
height: 100%;
justify-content: space-around;
align-items: center;

}
.nav-links li a {
color: #004766;
text-decoration: none;
font-size: 1.2rem;
padding-bottom:10px;
position:relative;
}
.underline:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 3px;
bottom: 0;
left: 0;
background-color: black;
transform-origin: center;
transition: transform 0.25s ease-out;
}
.donate{
background-color:#004766;
border-color: #004766;
border-radius: 300px;
padding: .56em .9352em;
}
.donate:hover{
opacity:0.9;
}
nav ul li ul{
display:none;
position:absolute;
background-color:#FFF;
}
nav ul li:hover ul{
display:block;
}
nav ul li ul li{
padding-top:15px;
padding-bottom:5px;

list-style-type: none;
}

.nav-links li a:hover:after {
transform: scaleX(1);
transform-origin: center;
}
.nav-links .donate a{
color:white;

}
@media screen and (max-width: 768px) {

.nav-links li a{
  color:black;
}
.mobile-ico-line {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
}
nav {
  position: relative;
    background: white;
}

.mobile-icon {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 101;
}

.nav-links {
  position: fixed;
  background: white;
  height: 100vh;
  left:0;
  width: 100%;
  flex-direction: column;
  clip-path: circle(0px at 90% -10%);
  -webkit-clip-path: circle(0px at 90% -10%);
  transition: all 0.7s ease-out;
  pointer-events: none;
   margin-bottom: -10px;
  transform: translateZ(0);
  z-index:-1;
  overflow:hidden;
}

.nav-links.open {
  clip-path: circle(1400px at 90% -10%);
  -webkit-clip-path: circle(1400px at 90% -10%);
  pointer-events: all;
  margin-bottom: -10px;
  transform: translateZ(0);
  z-index:98;
  overflow:hidden;
}
.landing {
  flex-direction: column;
}
.nav-links li {
  opacity: 0;
}
.nav-links li a {
  font-size: 25px;
}
.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
li.fade {
  opacity: 1;
}
.dd-links {
  position: fixed;
  background: white;
  height: 100vh;
  left:0;
  width: 100%;
  flex-direction: column;
  clip-path: circle(0px at 90% -10%);
  -webkit-clip-path: circle(0px at 90% -10%);
  transition: all 0.7s ease-out;
  pointer-events: none;
  transform: translateZ(0);
  z-index:100;
}
.dd-links.open {
  clip-path: circle(600px at 90% -10%);
  -webkit-clip-path: circle(600px at 90% -10%);
  pointer-events: all;
  transform: translateZ(0);
}
.dd-links li{
  text-align:center;
}
}



/* footer */

::selection{
  text-shadow: none;
  background: #0D506E;
  color: #fff;
  }
  *{
    font-family:"Montserrat";

  }

  .toptext{
    width:30%;
    margin:auto;
  }
  .toptext h1{
    margin-top:2rem;
    margin-bottom: 0.5em;
  }
  .toptext p{
    font-size:1.1rem;
  }
  .content{
    display: flex;
      margin-left: 270px;
      align-items: center;
      overflow: hidden;
  }
  .text-boxes{
    width: 60%;
    margin:auto;
  }
  .right img{
    width: 50%;
      height: 50%;
  }
  .left p{
        font-weight: 700;
  }
  .content a{
    margin: 0;
      padding: 0;
      text-decoration: none;
      box-sizing: border-box;
      color: #0D506E;
  }
  .boxrow{
    display:flex;
    justify-content: center

  }
  .tboxlink{
    text-decoration: none;
      flex-basis: 50%;
  }
  .textwrapper:hover{
  background-color:#0D506E;
  color:white;
  transition:0.3s;
  }
  .text-boxes{
    display:flex;
    flex-direction:column;
  }
  .textwrapper p{
    margin:0;
    margin-top:5px;
  }
  .textwrapper h5{
    font-size:1.25rem;
    margin:0;
    margin-bottom:5px;
  }
  .textwrapper{
    padding:35px;
    display:block;
  }
  .tboxes{
    margin:10px;
    border: 1px solid #DEDEDE;
    color:black;
  }
  .text-boxes{
    margin-bottom:40px;
  }
  footer {
      width: 100%;
  }
  @media (max-width:1024px){
    .toptext{
      width:90%;
    }
    .boxrow{
      flex-direction:column;
    }
    .text-boxes{
    width:100%;
    }
    .toptext h1{
      font-size:24px;
    }
    .toptext p{
      font-size:16px;
    }
    .content{
      margin-left: 0;

    }
  }
  @media only screen
    and (min-width: 1024px)
    and (max-height: 1366px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1.5) {
      .toptext{
        width:65%;
      }
      .boxrow{
        flex-direction:column;
      }
      .text-boxes{
      width:75%;
      }
      .toptext h1{
        font-size:36px;
      }
      .toptext p{
        font-size:24px;
      }
  }

/*START*/
*{
font-family: "Montserrat";
}
.aboutpage p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.aboutisl{

background-color:#fff;
}
.page-header{
font-size:1.25em;

width:60%;
padding-top:4rem;
padding-bottom:4rem;
margin:auto;
text-transform: uppercase;
font-weight:600;
}
.page-header span{
color:#1c4587;
}
.page-header a{
text-decoration:none;
color:black;
}
.page-header a:hover{
color:#1c4587;
}
.aboutpage{
width:70%;
margin:auto;
display:flex;
flex-direction:row;
justify-content: space-between;
}
.ttle {
width:64%;
}
.ttle h1{
font-size:3rem;
color: #000000;
font-weight:600;
line-height:1.2;
}.allabout p{
font-size:1.18rem;
font-weight:400;
color:#0D506E;
margin: 22px 0;
}

.ontop p{
font-size:1.75rem;
line-height:1.333333;
}
.related-img{
height:75%;
width:50%;
margin-right:25px;
}
.related-img img{
height:100%;
width:100%;
}
.related-text h1{
font-size:2rem;
font-weight:500;
color:#1c4587;
}
.related-text a{
font-size:1rem;
text-decoration: none;
color:black;
position:relative;
}
.related-text a:before{
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: black;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}
.related-text a:hover:before{
visibility: visible;
transform: scaleX(1);
}

.mission{
width:25%;
padding:20px;
display:block;
border: 1px solid #ddd;
border-top: 4px solid #0D506E;
height:50%;

}
.sidebar-title:before{
content: "";
position: absolute;
width: 50%;
height: 1px;
bottom: 0;
left: 25%;
border-bottom: 1px solid #ddd;
}
.sidebar-title{
text-align:center;
display: inline-block;
padding-top:25px;
padding-bottom: 10px;
position: relative;
width:100%;
}
.sidebar-text{
    font-size: 1.1875rem;
    text-align:center;
    padding-top:5%;
}
.sidebar-title h1{
color:#0D506E;
text-align: center;
font-size:1.5rem;
margin:auto;
}
.sidebar-button{
border: 1px solid #ddd;
width:45%;
margin:auto;
}
.sidebar-button a{
color:black;
text-decoration: none;
align-items: center;
margin:auto;
text-align:center;
}
.sidebar-button a:hover{
color:white;
}
.sidebar-button:hover{
background-color:#0D506E;
}

.sidebar-button p{
text-transform: uppercase;
margin:0;
padding:14px 14px;
}
.sidebar-text{
margin-top:1rem;
margin-bottom:3rem;
}
.aboutisl{
margin-top:2%;
}
@media screen and (max-width: 1024px){
.aboutpage{
  flex-direction:column-reverse;
}
.mission{
  width:100%;
}
.aboutpage{
  width:90%;
  margin:auto;
}
.ttle{
  margin:auto;
  width:90%;
}
.allabout p{
  font-size:1rem;
  height:100%;
}
.ontop p{
  font-size:1.2rem;
}
.ttle h1{
margin-top:20px;
}

.related-img{
width:90%;
}
.ttle h1 {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  line-height: 1.2;
}
}
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
.mission{
height:400px;
}
.aboutpage{
width:85%;
}
}
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .ttle h1{
    text-align:center;
    font-size:3.5rem;
  }
  .mission{
    margin-top:20px;
  }
  .allabout p{
    font-size:1.5rem;
  }
  .related-text a{
    font-size:2rem;

  }
  .ontop p{
    font-size:2rem;
  }
  .sidebar-text{
    font-size:1.6rem;
  }
  .sidebar-title h1{
    font-size:2.5rem;
  }
}
/*FINISHED*/
.left p{
font-family:"Montserrat"
}
main{
  font-family:"Montserrat" !important;
}